* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

header {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: rgb(44, 154, 183);
}

header section{
    padding: 3% 14% 3% 14%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

header section h1 {
    font-size: 45px;
    line-height: 0;
    padding-bottom: 2%;
}

header section h3 {
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
    line-height: 3px;
}

.header-nav {
    background-color: rgb(235, 235, 235);
    padding: 2% 0 2% 14%;

}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav a {
    text-decoration: none;
    margin: 1%;
    color: rgb(72, 72, 72);
    font-size: 13px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

main {
    margin-bottom: 5%;
    line-height: 1.5;
    padding: 3% 14% 3% 14%;
    font-family:Arial, Helvetica, sans-serif;
}

.main-artile-header {
    color: rgb(35, 154, 185);
    font-size: 16px;
}

.mid-artile-header {
    color: rgb(82, 187, 213);
    padding-top: 6%;
    font-weight: 100;

}
.mid-artile-header2 {
    color: rgb(82, 187, 213);
    padding-bottom: 6%;
    line-height: .1;
    font-style: italic;
    font-weight: 100;
}

form {
    padding: 5%;
    color: rgb(72, 72, 72);;
}

#first-name, #last-name, #email, #phone {
    height: 30px;
    width: 70%;
    border: 2px solid rgb(72, 72, 72);;
    border-radius: 2px;
    margin: 2% 0 2% 0;
}



.article-p {
    font-size: 13px;
    color: rgb(55, 54, 54);
}

.p-link {
    text-decoration: none;
    color: rgb(84, 189, 215);
}

.section-main {
    float: left;
    width: 70%;
    padding-right: 4%;
}

.story-header {
    line-height: .5;
    color: rgb(58, 58, 58);
}

.section-aside {
    float: right;
    text-align: center;
    width: 30%;
    padding-left: 4%;
    padding-bottom: 10%;
    color: rgb(58, 58, 58);

}
.location {
    line-height: .6;
}

.phone{
    padding: 3%;
}

.phone a {
    text-decoration: none;
}

.section-aside article ul {
    list-style-type: none;
    text-align: center;
    padding: 1% 5% 5% 5%;
}

.aside-header {
    color: rgb(58, 58, 58);
}

.side-links {
    text-decoration: none;
    color: rgb(93, 185, 209);
    font-size: 12px;
}
.side-image {
    width: 240px;
}

footer {
    clear: both;
    padding-top: 5%;
    height: 20%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

footer div {
    background-color: rgb(58, 58, 58);
    padding-top: 6%;
    text-align: center;
}

.footer-logo {
    width: 260px;
    margin-bottom: 1%;
}

footer div p {
    font-size: 12px;
    line-height: .6;
}

.footer-nav {
    padding-top: 2%;
}

footer div a {
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 13px;
}

footer div h4 {
    padding: 2% 0 8% 0;
    font-size: 12px;
}
.book-header-box {
    
}
.book-header {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(93, 185, 209);
    margin: 0;
    padding: 8% 0 8% 0;
    width: 100vw;
    height: 150px;
    background-image: url("images/lesson04-mock2-banner-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.book-footer {
    background-image: url("images/lesson04-mock4-footer-image.jpeg");
}
